<footer>
    <ul>
      <li>
        <a href="homepage" style="color: rgb(255, 255, 255)"> Home </a>
      </li>
      <li>
        <a href="about" style="color: rgb(255, 255, 255)"> About </a>
      </li>
    </ul>
    <p>
      This website belongs to Department of Agriculture & Cooperation and
      Farmers Welfare, Ministry of Agriculture and Farmers Welfare,
      Government of India <br />Last Updated : 08 JANUARY, 2021
    </p>
  </footer>