<nav id="navbar">
    <ul>
      <li href="javascript:void(0)">
        <a class="active" href="homepage"> Home </a>
      </li>
      <li href="javascript:void(0)">
        <div class="dropdown">
          <button class="dropbtn">
            Options
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="SearchByState">State</a>
            <a href="SearchBySoil">Soil</a>
            <a href="SearchBySeason">Season</a>
            <a href="SearchByCrop">Crop</a>
          </div>
        </div>
      </li>
      <li href="javascript:void(0)">
        <div class="dropdown">
          <button class="dropbtn">
            Language
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="">English</a>
            <a href="">Hindi</a>
            <a href="">Marathi</a>
          </div>
        </div>
      </li>
      <li style="float: right" href="javascript:void(0)">
        <a href="about"> About </a>
      </li>
    </ul>
  </nav>