<!DOCTYPE html>
<html>

<head>
    <title> Stanantarit krushi</title>
    <meta charset="UTF-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="tabpage.css">


</head>

<body>
    <%-include("./partials/nav")-%>
        <div>
            <p>This is Info Page</p>
        </div>

        <%-include("./partials/footer")-%>
    </div>

</body>

</html>
